body {
	background-color: #F6FFF7;
}


/*inicio header css*/

.div_verde{
	background-color: #006600;
	height: 10px;
}

.img_logo{
	margin-top: 5px;
	max-width: 4.5em;
	max-height: 4.5em;
	border-radius: 2.5em;
}

.h3_logo{
	display: inline-block;
	position: absolute;
	left: 61px;
	top: 73px;
	font-size: 13px;
	font-weight: 50;
	color: #006600 ;

}

/*barra de navegacion*/

.header_nav ul li{
	display: inline-block;
}

.header_nav{
	position: absolute;
	left: 130px;
	top: 55px;
}

.nav_ul li a{
	display: flex;
	padding: 11px;
	font-size: .8em;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	transition: all .5s;
	text-decoration: none;
	color: #000000;
}
.nav_ul li a:hover{
	background-color: #000000;
	color: #ffffff;
}

.nav_buscador{
	position: absolute;
	right: 3em;
	top: 3em;
	font-size: 1.2em;
	letter-spacing: 3px;
}

.nav_buscador a{
	text-decoration: none;
	color: #006600;
}
.nav_buscador a:hover{
	color: #009900;
}


/*inicio de seccion de banner de presentacion*/

.section_banner{
	background-image: url(hero-bg.1a0ac42.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	position: relative;
}

.banner_star{
	position: absolute;
	top: 90px;
}

.img_star{
	max-width: 40%;
	max-height: 40%;
}

/*presentacion e imagen "starbuks rewards"*/

.span_present{
	position: absolute;
	top: 6em;
	left: 15em;
}


.h3_present{
	margin-bottom: .5em;
	color: #ffffff;
	font-family: Oswald,sans-serif;
	font-weight: 300;
	font-size: 29px;
	letter-spacing: 4px;
}

.span_disp{
	position: absolute;
	top: 14em;
	left: 16em;


}
/*presentacion de app´s*/
.img_storeap{
	display: inline-block;
	height: 12%;
	width: 12%;
	margin-right: 1.5em;
}

.img_storean{
	height: 12%;
	width: 12%;
}

.span_disp--h3{
	margin-bottom: 5px;
	
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 2em;
	letter-spacing: 3px;

}

/*seccion de registro rapido en banner*/

.form_span{
display: flex;
flex-direction: column;
justify-content: center;
position: absolute;
padding-left: 3em;
padding-right: 3em;
padding-top: 3em;
padding-bottom: 4em;
background-color: #000000;
top: 3.5em;
right: 0;
}

.form_text{
	padding-bottom: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}
.form_more{
	text-decoration: none;
	margin-top: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #D2A200;
}

.form_button{
	padding: 1em 2em;
	margin-top: 2em;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
	background-color: #D2A200;
	color: #ffffff;
	font-weight: 800;
	transition: all .5s;
}

.form_button:hover{
	background-color: #037A5A;
}


/*inicio de area de registro*/

.register {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em;
	font-family: Lato, sans-serif;
}
.reg_logo{
	margin: 1em;
}

.reg_form{
	display: grid;
	padding: 0 5em 0 0;
}

.reg_form > h3, .reg_form > input, .reg_form > a{
	margin: .7em;
}

.reg_header{
	font-family: 'Lato', sans-serif;
}

.reg_input {
	padding: .5em 8em 0 0;
	text-align: initial;
	background-color: #F6FFF7;
	border-style: none;
	border-bottom: dotted;
	border-width: 1px;
}
.reg_input:focus{
	outline: none;
}

.reg_recu {
	text-decoration: none;
	color: #009900;
}

.reg_button{
	padding: .8em;
	font-family: 'Lato', sans-serif;
	background-color: #037A5A;
	color: #ffffff;
	border-style: none;
	transition: all .2s;
}
.reg_button:hover{
	background-color: #D2A200;
}


/*instrucciones de registro*/

.reg_instructions{
	height: 230px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Lato, sans-serif;
}

.inst_title{
	font-family: Lato, sans-serif;
}

.inst_title-01{
	font-style: italic;

}

.inst_title-02{
/*	padding: 10px;*/
	line-height: 30px;
	font-weight: 300;
	font-size: 1.1em;
}

.inst_account{
	display: inline-block;
	margin-bottom: 10px;
	padding-bottom: 6px;
	text-decoration: none;
	border-bottom: 1px solid #037A5A;
	color: #037A5A;
	transition: all .5s;
	font-weight: 300;
}

.inst_account:hover{
	font-size: 1.1em;
}

.inst_verif{
	display: block;
	text-decoration: none;
	color: #003300;
}

.inst_verif:hover{
	text-decoration: underline;
}

/*inicio de los pasos para registro*/

.steps{
	background-color: #DBF3E8;
	padding-top: 25px;
	padding-bottom: 25px;
}

.steps_start{
	text-align: center;
	font-family: Oswald, sans-serif;
}

.start_title{
	font-size: 2em;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
}

.start_guide{
	padding-bottom: 3px;
	font-size: 1.5em;
	font-weight: 300;
	border-bottom: 1px solid #D2A200;
}

.description_steps{
	display: flex;
	margin-top: 50px;
}

.description_steps div{
	width: 25%;
	height: 300px;
	text-align: center;
	font-family: Lato, sans-serif;
	margin-top: 20px;
}
.step_register{
	display: block;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
	border: 1px solid #D2A200;;
	text-decoration: none;
	font-weight: 800;
	color: #000000;
	
}

.description_steps div img{
	margin: 15px 0;
}

.description_steps div h3{
	width: 100%;
	font-size: 1.3em;
}

.description_steps div small{
	color: #888888;
}

/*comienzo de presentacion de niveles de membresia*/

.levels{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #DBF3E8
}
/*separate es la flecha por encima de los niveles de membresia*/
.separate{
	text-align: center;
}

.arrow{
	color: #D2A200;
	font-size: 2.5em;
	margin: 30px 0;
}

.levels_separation{
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
	justify-content: space-around;
	gap: 20px;
	padding: 30px 0;
	font-family: Oswald,sans-serif;
}


/*atributos que tienen en comun los tres niveles de membresia*/

.levels_separation-1, .levels_separation-2, .levels_separation-3{
	width: 30%;
	text-align: center;
}

.level_1, .level_2, .level_3{
	font-size: 1.5em;
	font-weight: 300;
}

.line_1, .line_2, .line_3{
	display: inline-block;
    width: 48px;
    height: 5px;
    padding: 0 13px;
    box-sizing: content-box;
}

.level_text-1, .level_text-2, .level_text-3{
	padding: 10px 20px;
	font-weight: 300;
	font-style: italic;
}

.bonus_1, .bonus_2, .bonus_3{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	height: 410px;
}

.bonus_contend-1, .bonus_contend-2, .bonus_contend-3{
	text-align: initial;
	width: 100%;
	color: #ffffff;
	border-style: none;
}

.bonus_contend-1 legend, .bonus_contend-2 legend, .bonus_contend-3 legend{
	display: inline-block;
	width: 70%;
	margin: 25px 0 25px 60px;
	letter-spacing: 1px;
	font-size: 1em;
	font-weight: 100;
	font-family: Oswald, sans-serif;
}


/*fin de los atributos en comun*/


/*atributos unicos del primer nivel de membresia*/
.bonus_1{
	background-image: url(bg_dashboard_welcome.jpg);
}

.line_1 {
	border-bottom: 2px solid black;
}

.level_text-1{
	padding-bottom: 28px;
}


/*atributos unicos del segundo nivel de membresia*/
.level_2{
	color: #037A5A;
}

.line_2{
	border-bottom: 2px solid #037A5A;
}

.bonus_2{
	background-image: url(bg_dashboard_green.jpg);
}


/*atributos unicos del tercer nivel de membresia*/
.level_3{
	color: #D2A200;
}

.line_3{
	border-bottom: 2px solid #D2A200;
}

.bonus_3{
	background-image: url(bg_dashboard_gold.jpg);
}

/*fin niveles de membresia, inicio del footer*/

/*menu footer (estilos en comun)*/
.menu_1, .menu_2, .menu_3{
	font-family: Lato, sans-serif;
	display: inline-block;
	margin: 50px 15px 0 25px;
}

.list_1, .list_2, .list_3{
	list-style: none;
}

.list_1 li, .list_2 li, .list_3 li{
	margin: 10px 10px 25px 10px;
}

.list_1 li:first-child, .list_2 li:first-child, .list_3 li:first-child{
	font-size: 1.3em;
}

.list_1 a, .list_2 a, .list_3 a{
	text-decoration: none;
	color: #000000;
}

.list_1 a:hover, .list_2 a:hover, .list_3 a:hover{
	color: #666666;
}

/*estilos individuales del menu del footer*/

.menu_3{
	position: absolute;
}

.list_3 li:first-child{
	width: 250px;
}

/*leyendas del footer*/

.aside{
	display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    left: 625px;
    bottom: 100px;
    font-size: 2em;
    font-family: 'Oswald';
    letter-spacing: 1px;
}

.corporative{
	padding-top: 25px;
	text-align: center;
	font-family: Oswald, sans-serif;
	font-weight: 300;

}




